<p>your account has been locked due to suspicious activity. to unlock it, just visit:<p>

<p><a href="https://www.transtime.is/email-unlock?mailUnlockToken=<%= assigns.mail_unlock_token %>">https://www.transtime.is/email-unlock?mailUnlockToken=<%= assigns.mail_unlock_token %></a></p>
