<p>to confirm your new email address, just visit:</p>

<p><a href="https://www.transtime.is/email-confirmation?mailConfirmationToken=<%= assigns.mail_confirmation_token %>">https://www.transtime.is/email-confirmation?mailConfirmationToken=<%= assigns.mail_confirmation_token %></a></p>
