<p>to reset your password, just click here:</p>

<p><a href="https://www.transtime.is/email-password-reset?mailPasswordResetToken=<%= assigns.mail_password_reset_token %>">https://www.transtime.is/email-password-reset?mailPasswordResetToken=<%= assigns.mail_password_reset_token %></a></p>
