<!doctype html>
<html>
  <head>
    <style type="text/css">

      // Global
      * {
        margin: 0;
        padding: 0;
        font-size: 100%;
        font-family: Helvetica, Arial, sans-serif;
        line-height: 1.65;
      }

      img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
      }

      body {
        width: 100% !important;
        height: 100%;
        background: #f9f9f9;
        padding: 20px 0 40px;
        -webkit-font-smoothing:antialiased;
        -webkit-text-size-adjust:none;
      }

      // Typography
      h1, h2, h3, h4, h5, h6 {
        line-height: 1.25;
      }
      h1 {
        font-size: 32px;
      }
      h2 {
        font-size: 28px;
      }
      h3 {
        font-size: 24px;
      }
      h4 {
        font-size: 20px;
      }
      h5 {
        font-size: 16px;
      }

      p, ul, ol {
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 16px;
      }

      a {
        text-decoration: none;
        font-weight: bold;
      }

      // layout
      .container {
        display: block;
        clear: both;
      }

      .content, .footer {
        margin: 0 auto;
        max-width: 580px;
        padding: 30px 35px;
      }

      .content {
        background: white;
      }

      .footer {
        text-align: center;
      }

      // helpers
      .muted {
        color: #666;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>hi <%= @username %>!</h1>

        <%= render @view_module, @view_template, assigns %>

        <p class="muted">-the trans time team</p>
      </div>

      <footer class="footer">
        <a href="https://www.transtime.is">trans time</a> *
        <a href="https://www.transtime.is/subscriptions?mailSubscriptionToken=<%= assigns.mail_subscription_token %>">unsubscribe</a>
      </footer>
    </div>
  </body>
</html>
